<!DOCTYPE html>
<html>
<head>
    <title>Kolpaque Client</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./assets/css/klpq.css">
    <link rel="stylesheet" id="theme-css" href="./assets/css/{{settings.theme}}.css">

    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <!-- normal script imports etc  -->
    <script type="text/javascript" src="./assets/js/jquery-3.1.1.min.js"></script>


    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>


</head>

<body>
<span class="d-none" id="theme-selected">{{settings.theme}}</span>
<div id="channels-page" class="page active">
    <div class="wrapper">
        <div class="channels">
            <div class="collapse-list" data-id="online"><span class="icon caret active"></span>Online
            </div>
            <div class="collapse-wrap active" id="online">

            </div>
            <div class="collapse-list" data-id="offline"><span class="icon caret active"></span>Offline
            </div>
            <div class="collapse-wrap active" id="offline">
                {{#each channels}}
                    <div class="item" data-service="{{service}}" data-id="{{link}}">
                        <div class="item-icon fa-twitch fa"></div>
                        <div class="item-name"> {{link}}</div>
                    </div>
                {{/each}}
            </div>
        </div>


    </div>
    <footer>
        <div class="top-footer">
            <div class="add-channel">
                <input placeholder="Add Channel" id="add-channel">
                <div class="btn" id="add-channel-btn">
                    <span class="icon plus"></span>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="icon-settings">
                <a data-page="settings" class="change-page" aria-hidden="true"><span class="icon cog"></span></a>
            </div>

        </div>
    </footer>
</div>
<div id="settings-page" class="page">

    <div class="form-group">
        <label>Livestreamer Path</label>
        <input type="file" class="d-none" id="livestreamer_input" value="C:\Program Files (x86)\Streamlink\bin\">
        <div class="file-input-group">
            <input disabled class="form-control" name="livestreamer_path" id="livestreamer_path"
                   value="{{settings.livestreamerPath}}">
            <div class="btn file-input-addon">...</div>
        </div>

    </div>
    <div class="form-group">
        <label>

            <input id="notification" class="settings" data-settings="LQ" {{#if settings.LQ}}checked{{/if}}
                   type="checkbox"> Low Quality
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" class="settings" data-settings="showNotificaions"
                   {{#if settings.showNotificaions}}checked{{/if}}
                   type="checkbox"> Show Notifications
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" class="settings" data-settings="autoPlay" {{#if settings.autoPlay}}checked{{/if}}
                   type="checkbox"> Autoplay
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" class="settings" data-settings="minimizeAtStart"
                   {{#if settings.minimizeAtStart}}checked{{/if}}
                   type="checkbox">
            Minimize at
            start
        </label>
    </div>
    <div class="form-group">
        <label>
            <input id="notification" class="settings" data-settings="launchOnBalloonClick"
                   {{#if settings.launchOnBalloonClick}}checked{{/if}}
                   type="checkbox"> Play on
            Balloon
            Click
        </label>
    </div>

    <div class="form-group">
        <label>
            <input id="notification" class="settings" {{#if settings.enableLog}}checked{{/if}} data-settings="enableLog"
                   type="checkbox"> Write Logs
        </label>
    </div>
    <div class="form-group">
        <label>
            Theme
        </label>
        <select id="theme" class=" theme" data-settings="light">
            <option data-theme="light" value="light">Default</option>
            <option data-theme="dark" value="dark">Dark</option>
        </select>
    </div>
    <div class="form-group">
        <label>Twitch Import</label>
        <input class="form-control" id="twitch-nickname" placeholder="Enter Nickname">
        <div class="btn twitch-import">Import</div>
    </div>
    <div class="settings-footer">
        <div class="go-back">
            <a href="#" class="change-page" data-page="channels"> Back </a>
        </div>
        <div class="version">
            version <span id="#version-number">{{version}}</span>
        </div>
    </div>
</div>
</body>
<script>
    require('./renderer.js')
</script>

</html>